{% extends 'index.html' %}

{% block titulo %}
  Biblioteca.dev | Listado de Autores
{% endblock titulo %}

{% block body %}

  {% if object_list %}
      <div class="card">
          <div class="card-header">
              <strong class="card-title">Listado de Libros</strong>
          </div>
          <div class="table-stats order-table ov-h">
              <table class="table">
                  <thead>
                      <tr>
                        <th>ID</th>
                        <th>Titulo</th>
                        <th>Fecha de publicación</th>
                        <th>Autor</th>
                        <th>Opciones</th>
                      </tr>
                  </thead>
                  <tbody>
                    {% for libro in object_list %}
                      <tr>
                        <td>{{ libro.id }}</td>
                        <td>{{ libro.titulo }}</td>
                        <td>{{ libro.fecha_creacion }}</td>
                        <td>
                          
                          {% for autor in libro.autor_id.all %}
                            <li>{{autor}}</li>
                          {% endfor %}
                            
                        </td>
                        <td>
                          <a href="" class="btn btn-primary">Editar</a>
                          <a href="" class="btn btn-danger">Eliminar</a>
                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
              </table>
          </div>
      </div>
      {% else %}
        <h1>No existen autores registrados</h1>
      {% endif %}

{% endblock body %}
